

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Pitalytics.Interfaces.ITaxReturnListView

@{
    ViewBag.Title = "Tax Returns";

    var hasInfo = Model.TaxReturnCollection.Count > 0;

    var taxReturnCollection = Model.TaxReturnCollection.ToList();
}

<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-windows"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>@ViewBag.Title</h2>
                                    <p style="color:red;">Filter one Parameter at a time (Except parameters with ranges)</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        @if (!string.IsNullOrEmpty(Model.ProcessingMessage))
        {

            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="notika-icon notika-close"></i></span></button> @Model.ProcessingMessage
            </div>
        }

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="notika-icon notika-close"></i></span></button> @Html.ValidationSummary()
            </div>
        }
    </div>
</div>
<!-- Breadcomb area End-->


<div class="form-element-area">
    <div class="container">
        <div class="row">

            @using (Html.BeginForm("TaxAuthorityTaxReturns", "AgentOfDeduction"))
            {

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-element-list mg-t-30">
                        <div id="report" class="cmp-tb-hd">
                            <div class="inbox-btn-st-ls btn-toolbar">
                                <div class="btn-group ib-btn-gp active-hook nk-email-inbox">
                                    <a href="~/AgentOfDeduction/TaxAuthorityTaxReturns" class="btn btn-primary notika-btn-primary btn-sm"><i class="notika-icon notika-refresh"></i> Refresh</a>

                                </div>
                            </div>

                            <div class="row">



                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group ic-cmp-int float-lb floating-lb">
                                        <div class="form-ic-cmp">
                                            <i class="notika-icon notika-"></i>
                                        </div>
                                        <div class="">
                                            Select Branch
                                            @Html.DropDownList("BranchId", Model.Branch, new { @class = "TimingId form-control" })

                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group ic-cmp-int float-lb floating-lb">
                                        <div class="form-ic-cmp">
                                            <i class="notika-icon notika-"></i>
                                        </div>
                                        <div class="">
                                            <label>From</label>
                                            <input type="date" id="dateExitTo" name="StartDate" class="form-control" />

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group ic-cmp-int float-lb floating-lb">
                                        <div class="form-ic-cmp">
                                            <i class="notika-icon notika-"></i>
                                        </div>
                                        <div class="">
                                            <label>To</label>
                                            <input type="date" id="dateExitTo" name="EndDate" class="form-control" />

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                              





                            </div>





                            @if (hasInfo && Model.SelectedBranchId > 0)
                            {
                                <div class="data-table-area">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="data-table-list">
                                                    <div class="table-responsive">
                                                        <table id="data-table-basic" class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>Beneficiary TIN</th>
                                                                    <th>Beneficiary Name</th>
                                                                    <th>BVN</th>
                                                                    <th>Beneficiary Address</th>
                                                                    <th>Contract Date</th>

                                                                    <th>Contract Amount</th>
                                                                    <th>WHT RATE</th>
                                                                    <th>WHT AMOUNT</th>
                                                                  
                                                                    
                                                                    <th>Income Type</th>


                                                                </tr>
                                                            </thead>

                                                            <tbody>
                                                                @foreach (var item in Model.TaxReturnCollection)
                                                                {

                                                                    <tr>

                                                                        <td>@item.BeneficiaryTin</td>
                                                                        <td>@item.BeneficiaryName</td>
                                                                        <td>@item.BVN</td>
                                                                        <td>@item.BeneficiaryAddress</td>
                                                                        <td>@item.ContractDate</td>

                                                                        <td>@item.ContractAmount</td>
                                                                        <td>@item.WHT_Rate</td>
                                                                        <td>@item.WHT_Amount</td>
                                                                       
                                                                      
                                                                        <td>@item.IncomeTypeName</td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                            <tfoot>

                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="container">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="notika-icon notika-close"></i></span></button>No Tax Return Exists,

                                    </div>
                                </div>
                            }






                            <div class="container row">
                                <div class="form-inline">
                                    <div class="form-group ml-3">
                                        <div class="form-example-int mg-t-15">
                                            <button id="btnSubmit" name="btnSubmit" type="submit" class="btn btn-primary notika-btn-primary pull-right">Generate Report</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }

            @if (hasInfo && Model.SelectedBranchId > 0)
            {
                using (Html.BeginForm("Excel", "TaxReturn"))
                {

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-element-list mg-t-30">
                            <div class="cmp-tb-hd">

                                @{int i = 0; }

                                @foreach (var item in Model.TaxReturnCollection)
                                {

                                    <input name="taxReturnCollection[@i].BeneficiaryTin" hidden value="@item.BeneficiaryTin" />
                                    <input name="taxReturnCollection[@i].BeneficiaryName" hidden value="@item.BeneficiaryName" />
                                    <input name="taxReturnCollection[@i].BVN" hidden value="@item.BVN" />
                                    <input name="taxReturnCollection[@i].BeneficiaryAddress" hidden value="@item.BeneficiaryAddress" />
                                    <input name="taxReturnCollection[@i].ContractDate" hidden value="@item.ContractDate" />
                                    <input name="taxReturnCollection[@i].ContractAmount" hidden value="@item.ContractAmount" />
                                    <input name="taxReturnCollection[@i].WHT_Rate" hidden value="@item.WHT_Rate" />
                                    <input name="taxReturnCollection[@i].WHT_Amount" hidden value="@item.WHT_Amount" />
                                    <input name="taxReturnCollection[@i].Email" hidden value="@item.Email" />
                                    <input name="taxReturnCollection[@i].IncomeTypeName" hidden value="@item.IncomeTypeName" />

                                    i++;
                                }
                                <button class="btn btn-sm btn-default" type="submit" onclick="">Download as Excel</button>

                            </div>
                        </div>
                    </div>
                                        }



                                    }

        </div>
    </div>
</div>

@section Stylesheets{
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/asset/css/jquery.dataTables.min.css">
    <link href="~/Content/asset/css/newSite.css" rel="stylesheet" />
}



<script src="~/Scripts/jquery-3.3.1.js"></script>


<script>


    
     $("#BranchId").change(function () {
       
            var url = '@Url.Action("FetchIncomeType", "AgentOfDeduction")';
            var incomeTypes = $('#IncomeTypeId');

         var id = $(this).val();


         $.ajax({
             "type": "Get",
             "url": "/AgentOfDeduction/FetchIncomeType?branchId=" +
                 id,

             success: (function (response) {
                 console.log(response);
                 incomeTypes.empty(); // remove any existing options
                 $.each(response, function (index, item) {
                     incomeTypes.append($('<option></option>').text(item.IncomeTypeName).val(item.IncomeTypeId));
                 });
             })
         });





        });
</script>
@section JavaScriptsIncludes{


    <script src="~/Scripts/data-table/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/data-table/data-table-act.js"></script>

}
